<body>
  <header>
    <div class="BargainBazaar">
      <div class="greeting">Hello, user
        <div class="search-bar">
          <input type="text" id="search-input" placeholder="Search...">
          <button id="search-button">Search</button>
        </div>
      </div>
      <div class="logo-container">
        <h1>BargainBazaar</h1>
        <p class="description">A Place For All Your Buy And Sell Needs</p>
        <a href="/favorites">favorites</a>


        <div class="search">
          <form action="/items" method="get" id="search-items-form" class="search-items-form">
          <label for="itemMin">Minimum Cost</label>
          <input type="number" name="" placeholder="" id="search-property-form__minimum-price-per-night">

          <label for="itemMax">Maximum Cost</label>
          <input type="number" name="" placeholder="" id="">

        </div>

        <div class="search-property-form__field-wrapper">
          <button>Search</button>
          <a id="search-property-form__cancel" href="#">Cancel</a>
      </div>
    </form>

        <div class="footer">
          <p>This is the footer content.</p>
        </div>
      </div>
    </div>
  </header>
</body>

</html>
