<body>
  <header>
    <div class="BargainBazaar">
      <div class="greeting">Hello, user
        <div class="search-bar">
          <input type="text" id="search-input" placeholder="Search...">
          <button id="search-button">Search</button>
        </div>
      </div>
      <div class="logo-container">
        <h1>BargainBazaar</h1>
        <p class="description">A Place For All Your Buy And Sell Needs</p>
        <a href="/favorites">favorites</a>
        <div class="footer">
          <p>This is the footer content.</p>
        </div>
      </div>
    </div>
  </header>
</body>

</html>
