<div>

  <nav class="navbar">
  <a href="/">
    <img src="/images/logo.png" href="/"alt="Logo" width="165" height="137">
  </a>
  <ul class="nav-list">


    <% if (userId) { %>
      <li><a href="/favorites">My favorites</a></li>
      <li><a href="/items/mylisting">My Listings</a></li>
      <li><a href="/logout">Logout</a></li>
    <% } else { %>
      <li><a href="#">Login</a></li>
      <li><a href="#">Sign up</a></li>
    <% }; %>





  </ul>

</nav>
</div>


