<div>

  <nav class="navbar">
  <p class="nav-logo">Logo</p>
  <ul class="nav-list">


    <% if (userId) { %>
      <li><a href="#">My favorites</a></li>
      <li><a href="#">test</a></li>
    <% } else { %>
      <li><a href="#">Login</a></li>
      <li><a href="#">Sign up</a></li>
    <% }; %>





  </ul>

</nav>
</div>
