<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">



  <!-- Scripts -->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/shared.js"></script>
  <script type="text/javascript" src="/scripts/favorites.js"></script>

  <%- include('./partials/_headern'); %>
  <title>Bargain Bazaar | favorite items</title>
</head>
<body>
  <%- include('./partials/_navibar'); %> <!-- Include the navbar -->
  <%- include('./partials/_back'); %>
  <div class="view-title"><h1>Favorite Items</h1></div>


  <div class="favorites-list"></div>
  <%- include('./partials/_footer') %> <!-- Include the footer -->
</body>
</html>
