<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/item-cards.css" type="text/css" />
  <link rel="stylesheet" href="/styles/favorites.css" type="text/css" />

  <!-- Scripts -->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/shared.js"></script>
  <script type="text/javascript" src="/scripts/favorites.js"></script>

  <title>Bargain Bazaar | favorite items</title>
</head>
<body>

  <h2>favorite items</h2>

  <div class="favorites-list"></div>
</body>
</html>
