<!DOCTYPE html>
<html lang="en">
<!-- Include the header: contains all JS,CSS, and External files -->
<%- include('./partials/_headern'); %>
  <head></head>


  <body>

    <%- include('./partials/_navibar'); %> <!-- Include the navbar -->

      <div class="container-search">

        <form method="POST" action="/api/items/filter">
          <select name="choice">
            <option value="high-to-low">Price: High to Low</option>
            <option value="low-to-high">Price: Low to High</option>
            <option value="alphabetical">Alphabetical: A-Z</option>

          </select>
          <button type="submit">Let's go!</button>
        </form>
      </div>

        </div>


      <div class="container2">
        <div class="itemscon">
        <%- include('./partials/_item-cards') %>
        </div>


      </div>

      <%- include('./partials/_footer') %> <!-- Include the footer -->

  </body>
</html>
