<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!-- External CSS -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    type="text/css"
  />
  <!--------bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/itemsView.css" type="text/css" />

  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/vendor/jquery-3.0.0.js"></script>

  <title>Item listing</title>
</head>

<body>
  <h1>Items List</h1>
    <ul>
        <% items.forEach((item) => { %>
            <li><%= item.title %></li>
        <% }); %>
    </ul>
</body>

</html>
