<!DOCTYPE html>
<html lang="en">

<head>
  <title>Item listing</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <title>Tweeter - Home Page</title>

  <!-- External CSS -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    type="text/css"
  />

  <!-------Internal CSS-->
  <link rel="stylesheet" href="styles/layout.css" />


  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/itemsView.css" type="text/css" />


  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!--------bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />


  <!-- App JS -->
  <script type="text/javascript" src="/scripts/items.js"></script>
  <script type="text/javascript" src="scripts/users.js"></script>

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>

</head>

<body>


  <main class="container">

    <div class="flex">
      <section class="mainPhoto"><img src="" alt=""></section>

    </div>
    <div class="flex">
      <section class="info">
        <p></p>
        <a href="mailto: [Seller's Email]&subject=[Someone%20is%20Interested%20in%20One%20of%20Your%20Items!]&body=Body-goes-here" target="_blank" class="btn btn-primary">Contact Seller</a>
      </section>
      <section class="sellerInfo"></section>

    </div>


  </main>



</body>

</html>
