<!DOCTYPE html>
<html lang="en">

<head>
  <title>Users</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>
</head>

<body>
  <header>
<div class="search-bar">
  <input type="text" id="search-input" placeholder="Search...">
  <button id="search-button">Search</button>
</div>
<body>
  <header>

    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=MuseoModerno:wght@200&family=Source+Sans+3:ital,wght@0,300;0,600;1,300;1,600&family=Space+Grotesk:wght@500&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">