.favorites-list {
  display: flex;
  justify-content: center;
}

.sold-tag {
  position: relative;
  top: -280px;
  left: -80px;
  transform: rotate(-45deg);
  text-align: center;
  background-color: red;
  color: white;
}
