/* footer.css */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background: linear-gradient(to top,#182c43, #587eaa,  #182c43,);
  color: white;
  text-align: center;
}
