/* footer.css */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1px;
  background:  #182c43;
  color: white;
  text-align: center;
  font-family: "MuseoModerno", sans-serif;
}
