

.BargainBazaar {
  position: relative;
  padding: 100px; 
  text-align: start;
  background: #243850;
  color: rgb(8, 38, 83);
  font-size: 15px;
  font-family: "Space Grotesk", sans-serif;
}

.greeting {
  position: absolute;
  bottom: 0; /* Position at the bottom of the .BargainBazaar element */
  right: 0; 
  padding: 10px 20px; 
  color: rgb(255, 255, 255);
  z-index: 2; 
  font-family: "Space Grotesk", sans-serif;
  font-size: 25px;
}


.logo-container {
  position: absolute;
  top: 0;
  left: 0; 
  right: 0;
  background: rgb(255, 255, 255); 
  padding: 2px;    
}
