/* Style for the banner */
.sold {
  background-color: #FF5733;
  color: #FFF;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.available {
  background-color: #3F3;
  color: #FFF;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
